.step4 {
    .tools {
        padding: 15px 0px;

        .save {
            float: right;
            margin-right: 10px;
        }
        .anticon-left {
            font-size: 20px;
            color: black;
        }
    }
    .btnAdd {
        margin-top: 5px;
    }
}