.preview-modal {
    width: 1300px !important;
    background: #fff;
    border-radius: 5px !important;
    overflow: hidden !important;
    -webkit-box-shadow: 0px 0px 79px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 79px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 79px -5px rgba(0,0,0,0.75);
    position: relative;
    padding: 0px;

    .ant-modal-body {
        overflow: hidden;
        padding: 0px;
    }
}

.preview-content {
    .preview-mode {
        text-align: center;
        padding: 10px;
    }

    .preview-pdf {
        margin: 5px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, .1);
        min-height: 300px;
        position: relative;
        
        .ant-spin {
            position: absolute;
            left: 0px;
            right: 0px;
            padding: 100px;
        }
    }
}

