.dashboard {
    .block {
        background-color: rgba(0,0,0,.1);
        margin-bottom: 10px;
        padding: 10px;

        .turno-header {
            background-color: rgba(0,0,0,.8);
            color: white;
            text-align: center;
        }
        .stat-stage {
            padding: 3px;
        }
        .stat-number {
            text-align: center;
        }

        .title {
            font-size: 1.1em;
            background-color: rgba(0,0,0,.8);
            color: rgba(255,255,255,.9);
            padding: 5px 5px;
            border-radius: 2px;
        }

        .indicators {
            padding-top: 10px;

            .indicator {
                //margin-right: 20px;
                height: 60px;

                padding: 10px;
                background-color: white;
                font-size: larger;
                line-height: 18px;

                .number {
                    font-size: 2em;
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }
    }
    
}