.edit-faena {
    .edit {
        .tools-btn {
            padding-top: 10px;
            text-align: right;

            button {
                margin-right: 10px;
            }
        }
        .section {
            padding: 10px;
            padding-right: 25px;
            margin-top: 10px;
            //padding-left: -10px;
            background-color: rgba(255,255,255,.85) !important;

            .title {
                font-size: 1.1em;

                .ver-mas {
                    font-size: .9em;
                    text-align: right;
                    text-decoration: underline;
                }
            }

            .fields {
                padding-top: 10px;

                .ant-form-item {
                    margin-bottom: 12px;
                }
            }
        }
        .tools {
            padding: 15px 0px;

            .next-step {
                float: right;
                margin-right: 10px;

                .anticon {
                    font-size: 20px;
                    color: black;
                }
            }
        }
    }
}