.subsection-edit {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .custom-tools {
        margin-top: 15px;

        .custom-tools-group-menu {
            font-size: 14px;

            li {
                width: 110px;

                span:first-child {
                    padding: 4px !important;
                }
                span:last-child {
                    font-size: 20px !important;
                }
            }
        }
    }
}