.navigation {
  background: transparent;
  //float: right;

  .ant-menu-item {
    height: 50px !important;
    color: #fff;
  }

.ant-menu-horizontal {
  border-bottom: 0;
}

.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: 0;
  position: relative;
  top: 0;
  vertical-align: top;
}

  .anticon {
    margin-right: 6px !important;
  }
}
