.section-content {
    &.mode-pdf {
        .ant-form-item {
            margin-bottom: 0px;
        }
    }
}
.fieldset {
    
    .has-error .ant-form-explain {
        line-height: 14px;
        font-size: 14px;
    }

    .ant-form-item {
        padding-bottom: 0px;

        input.ant-input:not(.ant-input-disabled), .ant-select .ant-select-selection {
            border: 1px dashed rgba(0,0,0,.2);
    
            &:hover {
                border: 1px solid rgba(0,0,0,.3);
            }
        }

        .ant-radio-group .ant-radio-wrapper {
            span:last-child {
                white-space: initial;
            }
        }
    }
    .formLayout-vertical {
        .ant-form-item {
            padding-bottom: 0px;
            .ant-form-item-label {
                line-height: 16px;
                padding-bottom: 0px;
            }
        }
    }
    
    .formLayout-hortizontal {
        .ant-form-item {
            padding-bottom: 0px;
            .ant-form-item-label {
                line-height: 16px;
                padding-bottom: 3px;
            }
        }
    }

    .ant-select, .ant-calendar-picker {
        width: 100%;
    }
    .fieldset-title {
        padding: 2px 2px 2px 5px;
    }

    &.CONTACT {
        .fieldset-title {
            background-color: rgba(0,0,0,.15);
            margin-bottom: 5px;
        }
    }
}