.modal-validations {
    .validation-edit {

        .ant-form-item {
            margin-bottom: 0px;

            .ant-form-item-label {
                line-height: 25px;
            }

            .ant-input-number {
                width: 95%;
            }
        }

        .ant-radio-group {
            width: 100%;
    
            .row-validation {
                padding: 5px;
                border-bottom: 1px solid rgba(0,0,0,.1);
            }
        }

        .tools-validation {
            text-align: right;
            margin-top: 10px;
            button {
            margin-left: 5px;
            }
        }
    }
}