body, .theme-metal {
    background-image: unset !important;
    padding: 20px;
}

.formulario {
    &.mode-pdf {
        font-size: .88em !important;

        label, input, pre, .ant-table {
            font-size: .88em !important;
        }
        input[type='text'] {
            height: 88%;
        }
        .ant-checkbox-inner {
            width: 14px;
            height: 14px;
            top: -1px;
        }
        .ant-radio-wrapper {
            line-height: 1.3;

            .ant-radio-inner {
                width: 14px;
                height: 14px;
    
                &:after {
                    top: 2px;
                    left: 2px;
                }
            }
            &>span:last-child {
                position: relative;
                top:-3px;
            }
        }
    }
    &.visible-dest .form-declaration {
        filter: blur(3px);
    }

    .sending-overlay {
        width: 100%;
        background-color: rgba(255,255,255,.5);
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: flex;

        .ant-spin {
            margin: auto;
        }
    }

    .form-dest {
        position: absolute;
        width: 100%;
        top: 0px;
        height: 100%;
        padding-top: 100px;

        .form-data {
            border: 2px solid rgba(0,0,0,.05);
            background-color: rgba(255,255,255,.9);
            padding: 15px;

            .ant-form-item {
                //margin-bottom: 18px;

                .ant-form-item-label {
                    line-height: 24px;
                }
            }

            .ant-btn {
                float: right;
            }
        }
    }
}