.row-component-text {
    .chk-title {
        left: 10px;
    }
  
    input.ant-input {
        border: 1px dashed rgba(0,0,0,.2);

        &:hover {
            border: 1px solid rgba(0,0,0,.3);
        }
    }
}