.modal-new-section {
    width: 900px !important;
  
    .modal-new-section-body {
        h2 {
            color: #e2a11f;
            margin-bottom: 13px;
        }

        .ant-form-item {
            margin-bottom: 0px;
        }

        .col-input-name {
            border-bottom: 2px solid #e2a11f;
            margin-bottom: 15px;

            .ant-form-explain {
                position: absolute;
                top: -15px;
                left: 5px;
            }
    
            .has-error {
                input {
                    border: 1px solid #f5222d !important;
                }
            }
            input {
                border: none;
                &:focus {
                  border: none;
                }
            }

        }

        .item-radio-type {
            .ant-form-explain {
                position: absolute;
                top: -8px;
                left: 5px;
            }
        }

        h3 {
            color: rgba(0,0,0,.8);
            margin-bottom: 10px;
        }
        .ant-radio-group {
            margin-top: 10px;
            width: 100%;
        }

        .box-section-type {
            padding: 10px;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 3px;

            span.title {
                margin: auto;
                display: table;
                margin-bottom: 10px;
            }

            .section-type-box {
                margin-top: 20px;
                text-align: center;
                padding: 10px;
                border-radius: 5px;
                margin: auto;
                display: table;

                .anticon {
                    font-size: 30px;
                    border: 1px solid rgba(0,0,0,.1);
                    border-radius: 40px;
                    padding: 10px;
                }

                &:hover {
                    background-color: rgba(226,161,31,.1);
                    cursor: pointer;
                }

                &.selected {
                    border: 1px solid rgba(226,161,31,.7);
                    background-color: rgba(226,161,31,.05);
                }
            }
        }

        .custom-tools {
            border: 2px solid rgba(0,0,0,.2);
            margin-bottom: 5px;
            text-align: center;
    
            .custom-tools-group-menu {
              list-style: none;
              display: flex;
              justify-content: center;
              color: #aaaebc;
              margin-bottom: 5px;
              font: 14px sans-serif;
              border-radius: 20px;
              padding-left: 10px;
              padding-right: 10px;
    
              li {
                background-color: rgba(26,28,29, .2);
                margin-top: 5px;
                width: 150px;
                border: 1px solid rgba(255,255,255,.3);
                cursor: pointer;
    
                &.selected {
                    border: 1px solid rgba(104,119,177,.7);
                    background-color: rgba(104,119,177,.2);
                    border-radius: 3px;
                }
                &:hover {
                    background-color: #6877b1;
                    //border: 10px solid rgba(0,0,0,.1);
                }
    
                a {
                    color: rgba(0,0,0,.5);
                    display: block;
                    position: relative;
                    overflow: hidden;
                    cursor: unset;
                    
                    span {
                        transition: transform 0.2s ease-out;
                        display: inline-block;
                        padding: 7px;
                    }
                }
              }
            }
        }

        .row-plant-section {
            .section-type-box {
                //margin: 2px;
                height: 115px;

                .ant-col {
                    font-size: .94em;
                }
            }

        }
        .btn-tools-add-section {
            padding-top: 20px;
            text-align: right;
        }
    }
  }