.subsection-content {
    border: 1px solid rgba(0,0,0,.1);
    padding: 5px;

    .section-title {
        font-size: .9em;
        background-color: rgba(0,0,0,.05);
        color: rgba(0,0,0,.8);
        margin-top: 0px;
    }
}