.catalogo {
    .content {
        margin-bottom: 10px;
        border: 1px solid rgba(0,0,0,.1);
        overflow: hidden;
        padding: 5px;

        .btn-new-field {
          .btns {
            padding-top: 5px;
            text-align: center;
          }
        }
        .btn-add-cat {
          //padding: 5px;
          text-align: center;
        }
        .title {
            text-align: center;
            //border-bottom: 1px solid rgba(0,0,0,.1);
            font-weight: bold;
            margin-top: -3px;
        }

        .switch-cat {
            text-align: right;
            padding: 0px 10px 3px 0px;
            margin-top: -4px;
        }
        .field-cat {
            padding: 7px;
            border: 1px dotted rgba(0,0,0,.15);

            .field-type {
              text-align: right;
              padding-right: 5px;
              i {
                border: 1px solid rgba(0,0,0,.2);
                border-radius: 10px;
                padding: 3px;
                font-size: 10px;
              }
            }
        }

        .cat {
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            position: relative;
            padding: 2px;
      
            &.show {
              animation-name: show;
      
              @keyframes show {
                from {
                  margin-top: -100px;
                }
      
                to {
                  margin-top: 0;
                }
              }
            }
      
            &.hide {
              animation-name: hide;
              display: none;
      
              @keyframes hide {
                from {
                  margin-top: 0;
                }
      
                to {
                  margin-top: -100px;
                }
              }
            }
        }
    }
    
}