.form-declaration {
    margin: 10px;
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgba(239,239,239,.9);
    
    .form-header {
        padding-top: 10px;
        background-color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,.1);

        .inputHeader {
            border: 1px solid rgba(0,0,0,.1);
            padding: 0px 10px;
            font-weight: bold;
        }

        .row-logo {
            .ant-col {
                height: 67px;

                &.CENTER {
                    text-align: center;
                }

                &.RIGHT {
                    text-align: right;
                }

                img {
                    margin: 2px 5px;
                    padding: 2px;
                    height: 61px;
                }
            }
        }
    }
    .form-content {
        padding-top: 5px;
        background-color: rgba(255,255,255,.8);
    }

    .section-content {
        border: unset;
    }

    .form-actions {
        padding:20px;
        
        .ant-col {
            text-align: right;
        }
    }
}

.notif-error-required-fields {
    //width: 650px;
    .ant-notification-notice-description1 {
        p {
            margin-bottom: 5px;
        }
    }
    //background-color: red;
}
