.table-form {
    .header-table {
        margin-bottom: 15px;
    }

    .radio-switch{
        display: block;
        height: 30px;
        line-height: 30px;
    }

    .fielset-preview {
        margin-top: 10px;
    }

    .table-rows {
        padding-top: 10px;
    }

    .btns-table {
        button {
            margin-right: 10px;
        }
    }
}