#inicio {

  .home {
    //min-height: 450px;

    .page-content {
      padding: 20px;

      div.module {
        height: 170px;
        padding: 10px;
  
        div.submodule {
          padding-right: 10px;
          height: 100%;
        
          .content {
            height: 100%;
            background-color: rgba(0,0,0,.02);
          }

          &.name {
            width: 150px;
            height: 150px;
            background-color: rgba(0,0,0,.78);
            padding: 10px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 130px;
            color: rgba(255,255,255,.9);
            font-size: medium;
            border-radius: 3px;
          }
        }

        .ant-card {
          background-color: transparent;

          .ant-card-body {
            padding: 12px;
          }

          .ant-card-head-title {
            padding: 2px
          }
        }
      }
    }
  }
    
}