#inicio {

  .home {
    //min-height: 450px;

    .page-content {
      padding: 20px;

      div.module {
        height: 170px;
        margin-bottom: 20px;
  
        .anticon {
          position: absolute;
          left: 0px;
          right: 0px;
          line-height: 40px;
          height: 0px;
          font-size: 30px;
          padding-top: 15px;
          color: white;
          z-index: 10;
          width: 95%;
        }

        div.submodule {
          padding-right: 10px;
          height: 100%;
        
          .content {
            height: 100%;
            background-color: rgba(0,0,0,.02);
          }

          &.name {
            width: 100%;
            max-width: 160px;
            max-height: 160px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            font-size: medium;
            position: relative;

            &:before {
              background-color: rgba(0,0,0,.85);
              border-radius: 5px;
              content:     "";
              display:     block;
              padding-top: 100%; /* initial ratio of 1:1*/
              top: -50px;
              width: 100%;
            }

            span {
              color: rgba(255,255,255,.9);
              position: absolute;
              left: 0px;
              top: 40%;
              width: 95%;
            }
          }
        }

        .ant-card {
          background-color: transparent;

          .ant-card-body {
            padding: 12px;
          }

          .ant-card-head {
            min-height: unset;

            .ant-card-head-title {
              padding: 2px
            }
            }
        }
      }
    }
  }
    
}