.advanced-tab-manage {
    .ant-tabs {
        border: 1px solid rgba(0,0,0,.08);
        padding: 5px;
        margin-left: -2px;
        margin-right: -2px;
        margin-bottom: 15px;
        background-color: rgba(0,0,0,.025);

        .ant-tabs-bar {
            margin-bottom: 10px;
        }

        .ant-tabs-tab {
            padding: 8px;
        }

        .ant-select {
            width: 100%;
        }
    }

    .btn-clear {
        width: 30px;
        position: absolute;
        top: 47px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.3) !important;
        font-size: 0.8em;
        z-index:1000;
    }
}