.step5 {
    .tools {
        padding: 15px 0px;

        .anticon-left {
            font-size: 20px;
            color: black;
        }
        .save {
            float: right;
            margin-right: 10px;
        }
    }
}